<% provide(:title,"Passport") %>

<!-- layout for the print view-->

<!--uploading an image to the title-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
 <form class="upload">
  <h4>Front Panel</h4>
    <input id="file" type="file" name="files[]" onchange="readFrontURL(this);">
 </form>
  

  <form class="upload">
      <h4>Back Panel</h4>
    <input id="file" type="file" name="stuff[]" onchange="readBackURL(this);">
  </form>

<a href="javascript:window.print()">Print Passport</a>

<!--uploading an image to the title-->

<!-- display of the image slider -->
<!--<div class="slidebox">
  <ul id="slider">
    <li><h3>Passport to Prizes</h3></p>
      <div id="Image_1" class="imageSection" style="margin:auto;margin-top: 20px;margin-bottom: 20px;">
        <img id="img_1" alt="" width="240px" height="240px" name="img_1">
        <p>Date: <%=@event.date.strftime("%B %d, %Y")%></p>
      </div>
    </li>
    <li>
		<%@event.boothlist.each do |booth_id|%>
			<%booth = Booth.find(booth_id)%>
			<div class ="booth-container">
				<div class="sticker-field">
				</div>
				<div class="booth-info">
					<%=booth.name%>					
				</div>
			</div>
		<%end%>
	</li>
    <li></li>
    <li><p>The information you receive from Clinic in the Park is not intended to be a substitute for your own physicians and health professionals. 
      It is provided for educational purposes only. 
      We do not provide medical diagnosis or treatment. You assume full responsibility for how you choose to use this information.
    </p></li>
  </ul>

  <ul id="dots">   
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
  </ul>

  <button id="prev">Prev</button>
  <button id="next">Next</button>
</div>-->

<!-- end display of the image slider -->
<div class="page">
		<!-- Passport #1 -->
		<div class="back">
			<div id="Image_2" class="back-image">
        <img id="img_2" alt="" width="350px" height="457.5px" name="img_2">
      </div>		
		</div>
		
		<div class="front">
			<div id="Image_1" class="front-image">
        <img id="img_1" alt="" width="350px" height="457.5px" name="img_1">
        <h5 id="date"><%=@event.date.strftime("%B %d, %Y")%></h5>
      </div>	
		</div>
    <!--end passport#1-->
    
		<!-- Passport #2 -->
		<div class="back">
			<div id="Image_2" class="back-image">
        <img id="img_2" alt="" width="350px" height="457.5px" name="img_2">
      </div>
		</div>
		
		<div class="front">
				<div id="Image_1" class="front-image">
          <img id="img_1" alt="" width="350px" height="457.5px" name="img_1">
          <h5 id="date2"><%=@event.date.strftime("%B %d, %Y")%></h5>
        </div>		
		</div>
		
</div>

<br>
<br>

<div class="page2">
	  <!--inner page#1-->
	  <div class="inside-page">
	     <%@event.boothlist.each do |booth_id|%>
        <%booth = Booth.find(booth_id)%>
        <div class ="booth-container">
          <div class="sticker-field">
             <p style="text-align:center;font-size:12px;"><%=booth.name%></p>
          </div>
        </div>
      <%end%>
	  </div>
	  
	  <!--inner page#2 -->
	  <div class="inside-page">
	     <%@event.boothlist.each do |booth_id|%>
        <%booth = Booth.find(booth_id)%>
        <div class ="booth-container">
          <div class="sticker-field">
             <p style="text-align:center;font-size:12px;"><%=booth.name%></p>
          </div>
        </div>
      <%end%>
	  </div>
		  
</div>













<!--print view for the passport, display set to none-->
<!-- <div class="passport" style="margin-top:-65px; border:1px solid;float:right;">
    <div class="front-container" style="font-size: 12px;;margin-right: -10px;margin-top: 28px;">
    </div>
    
    <div class="front-container" style="border: 1px solid;border: 1px solid;margin-top: 55px;margin-right: -30px;">
      <p>Passport to Prizes</p>
        <div id="Image_1" class="imageSection"><img id="img_1" name="img_1">
          picture
        </div> 
        front-container
    </div>
    
  </div>
    
  
  <div class="passport" style="margin-top:-65px; border:1px solid;">
    <div class="front-container" style="font-size: 12px;border: 1px solid;margin-right: -10px;margin-top: 28px;">
    </div>
    
    <div class="front-container" style="border: 1px solid;border: 1px solid;margin-top: 55px;margin-right: -30px;">
      <p>Passport to Prizes</p>
        <div id="Image_0" class="imageSection"><img id="img_0" name="img_0">
          picture
        </div> 
        front-container
    </div>
    
  </div>
    
  <br>
-->
<!--end print view for the passport, display set to none-->

<!--begin inner passport-->
<!--<div class="passport" style="margin-top:-10px;float:right;">
  <%@event.boothlist.each do |booth_id|%>
    <%booth = Booth.find(booth_id)%>
    <div class ="booth-container">
      <div class="sticker-field">
         <p style="text-align:center;font-size:12px"><%=booth.name%> </p>
      </div>
    </div>
  <%end%>
</div>

<div class="passport" style="margin-top:-10px;float:right;">
  <%@event.boothlist.each do |booth_id|%>
    <%booth = Booth.find(booth_id)%>
    <div class ="booth-container">
      <div class="sticker-field">
         <p style="text-align:center;font-size:12px"><%=booth.name%> </p>
      </div>
    </div>
  <%end%>
</div>

<!--end inner passport-->

<!-- layout for the print view-->



<!-- jquery for image slider -->
<script>
$(document).ready(function () {

  var change_img_time = 4000,
      transition_speed = 100;

  var listItems = $("#slider").children('li'),
      dotItems = $('#dots').children('li'),
      listLen = listItems.length,
      current,
      changeTimeout;

  function moveTo(newIndex) {

    var i = newIndex;

    if (newIndex == 'prev') {
        i = (current > 0) ? (current - 1) : (listLen - 1);
    }

    if (newIndex == 'next') {
        i = (current < listLen - 1) ? (current + 1) : 0;
    }

    dotItems.removeClass('active')
            .eq(i).addClass('active');

    listItems.fadeOut(transition_speed)
    listItems.eq(i).fadeIn(transition_speed);

    current = i;

    //resets time interval if user clicks on slider dot; then begin automated slider

  };

  // Event handlers
  $("#dots li").click(function () {
    var i = $('#dots li').index(this);
    moveTo(i);
  });

  $("#prev").click(function () {
    moveTo('prev');
  });

  $("#next").click(function () {
    moveTo('next');
  });
  
  //initialize slider on load
  moveTo('next');
});
</script>

<!-- end jquery for image slider -->

<script>
function readFrontURL(input) {
   $(".front-image img").addClass("activeImage");
   
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
            $('.activeImage').attr('src', e.target.result).width(343).height(457);
            $('.activeImage').css('display', 'inline');
        };

        reader.readAsDataURL(input.files[0]);
    }
}

function readBackURL(input) {
  $(".back-image img").addClass("activeImage1");
  
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
            $('.activeImage1').attr('src', e.target.result).width(343).height(457);
            $('.activeImage1').css('display', 'inline');
        };

        reader.readAsDataURL(input.files[0]);
    }
}
</script>


<script>
	$(".side-event").addClass("active");
</script>