<% provide(:title,"Sign in") %>

	<div class="span5 offset1">
		<h1> Clinic in the Park </h1>
		<%=form_for(:session,url: sessions_path) do |f| %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.submit "Sign in",class:"btn btn-large btn-primary" %>
		<% end %>
	</div>