<% provide(:title,"Profile") %>
<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
        <%=link_to "Edit Profile", edit_user_path(@user)%><br>
        <%=link_to "Create New Account", new_user_path%>
       <br>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Account Information</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
                
        
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name: <%=@user.name%></td>
                      </tr>
                      <tr>
                        <td>Email: <%=@user.email%></td>
                      </tr>
                      <tr>
                        <td>Creation Date: <%=@user.created_at.strftime("%B %d, %Y")%></td>
                      </tr>
                    </tbody>
                  </table>
        
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>