<table class="table table-striped">
	<thead>
		<tr>
			<th><b>Date<b></th>
			<th><b>Location<b></th>
			<th><b>Total Visitors<b></th>
		</tr>
	</thead>
	<tbody>
	<%@events.each do |event|%>
		 <tr>	
		    <td><%=event.date%></td>
		    <td><%=event.location%></td>
		    <td><%=event.total_count%></td>
		    <td><%=link_to "Booths", event_path(event), remote: true, 
		    	class: "btn btn-default" %></td>

		    <td><%=link_to "Edit", edit_event_path(event), 
		    	class: "btn btn-default" %></td>

		    <td id="delete"><%= link_to "Delete", event, html: {method: :delete}, data: 
		    	{ confirm: "You sure?" }, remote:true, 
		     	class: "btn btn-default"%></td>

		 </tr>
	<%end%>
	</tbody>				
</table>