<% provide(:title,"All Organizations") %>

<div style="width: 300px;
	margin-left: 12%;
	margin-top: 5px;
	border: 1px solid;
	border-radius: .5em;
	text-align: center;">
<%=@event.date%> <%=@event.location%>
</div>
<br>
		
		<div class="booths" style="width: 300px; height: 250px; margin: auto;">
			<table class="table table-striped">
				<thead>
					<tr>
						<th><b>Organizations</b></th>
					</tr>
				</thead>
				<%@event.boothlist.each do |booth_id|%>
					<%booth = Booth.find(booth_id)%>
						 <tr>	
						    <td><%=booth.name%>
						    	(<%=booth.attendances.find_by(event_id:@event.id).booth_attendance%>)
						    </td>
						 <tr>
				<%end%>
			</table>
			</div>
			<div class="creation" style="margin-top: 5px; float: right; margin-right: 10px;"><%=link_to "Print Passport", passport_path(@event), class: "btn btn-large btn-primary"%></div>

			<div class="creation" style="margin-top: 5px; float: right; margin-right: 10px;"><%=link_to "Add Attendance", attendance_path(@event), class: "btn btn-large btn-primary"%></div>

		</div>
			
</hr>
