<% provide(:title ,"Edit Event") %>

<div class="row">
	<!--edit form-->
	<div class="col-sm-6"> 
		<section class="panel panel-default"> 
		<header class="panel-heading font-bold">Edit Event: <%=@event.date.strftime("%B %d, %Y")%>
		</header> 
		<div class="panel-body" style="margin: 10px;"> 
			<%= form_for(@event) do |f| %>
			<%= render 'shared/error_messages', object: f.object %> 

			<%=f.label :date%> 
			<%=f.date_field :date, class:"form-control" %>
			<br>
			<%=f.label :Location %>
			<%=f.text_field :location, class:"form-control", placeholder:"OC Great Park" %> 
			<br>
			<%=f.label :Attending_Organizations%>

			<div id="new-event-form">
			<div class="checkbox"> 	
				<label>
				<% @booths.each do |booth|%>
					<%=check_box_tag "booth_ids[]", booth.id%>
					<%=f.label booth.name %>
					<br>
				<%end%>
				</label>
			</div>
			</div>

			<br>
			Organization not found? <%=link_to "Add an organization!", new_booth_path%>
			<br><br>
			<%=f.submit "Edit Event", class: "btn btn-large btn-primary" %>

		<% end %>
		</div> 
		</section>
	</div>
</div>

<script>
	$(".side-event").addClass("active");
</script>