<% provide(:title,"All Events") %>

<h3 style="display:inline">All Events</h3> 
<%= link_to new_event_path, class:"btn btn-default btn-sm", id: "add_button" do %>
  <i class="glyphicon glyphicon-plus"></i> <b>New Event</b>
<% end %>

<hr>


<table class="table table-striped">
	<thead>
		<tr>
			<th><%=sortable "date"%></th>
			<th><%=sortable "location"%></th>
			<th>Last Modified</th>
		</tr>
	</thead>
	<tbody>
	    <%for event in @events%>
		 <tr>	
		    <td><%=event.date%></td>
		    <td><%=event.location%></td>
		    <td><%=event.updated_at%></td>
		   <!--
		    <td><%=link_to "Booths", event_path(event), remote: true, 
		    	class: "btn btn-primary" %>
		    	<%=link_to "Edit", edit_event_path(event), 
		    	class: "btn btn-primary" %>
		    	<%= link_to "Delete", event, method: :delete, data: 
		    	{ confirm: "You sure?" }, 
		     	class: "btn btn-primary"%>
		     </td>
		    -->
		 </tr>
	<%end%>
	</tbody>				
</table>
<%=will_paginate @events%>


<br>

<div id="task-form" style="display:none">
</div>
