<h1>Create Event</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@event) do |f| %>
			<%= render 'shared/error_messages', object: f.object %> 

			<%=f.label :Event_date %> 
			<%=f.date_field :date %>

			<%=f.label :Location %>
			<%=f.text_field :location %> 

			<% @booths.each do |booth|%>
				<%=check_box_tag
				<%=check_box("event","boothlist",{:multiple => true},booth.name,nil)%>
				<%=f.label booth.name,:class=>"checkbox inline" %>
				<br>
			<%end%>
			<br>

			Organization not found?<br>
			<%=link_to "Add an organization", new_booth_path%>
			<br><br>
			<%=f.submit "Create Event", class: "btn btn-large btn-primary" %>

		<% end %>
	</div>
</div>