<h1>New Event</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@event) do |f| %>
			<%= render 'shared/error_messages', object: f.object %> 

			<%=f.label :date %> 
			<%=f.date_field :date %>

			<%=f.label :Location %>
			<%=f.text_field :location %> 

			<%=f.label :Attending_Organizations%>
			
			<div id="new-event-form"> 	
				<% @booths.each do |booth|%>
					<%=check_box_tag "booth_ids[]", booth.id%>
					<%=f.label booth.name,:class=>"checkbox inline" %>
					<br>
				<%end%>
			</div>

			<br>
			Organization not found? <%=link_to "Add an organization!", new_booth_path%>
			<br><br>
			<%=f.submit "Create Event", class: "btn btn-large btn-primary" %>

		<% end %>
	</div>
</div>