<%=link_to "edit information", edit_post_path %>

<span class="content">
	<h3>BMI</h3><%=post.bmi%>
</span>
<span class="content">
	<h3>Health</h3><%=post.health%>
</span>
<span class="content">
	<h3>Physical</h3><%=post.physical%>
</span>
<span class="content">
	<h3>Dental</h3><%=post.dental%>
</span>

