<%=link_to "edit information", edit_post_path %>

<div class = "users">
	<h3>BMI</h3><%=post.bmi%>
</div>
<div class = "users">
	<span class="content">
		<h3>Health</h3><%=post.health%>
	</span>
</div>
<div class="users">
	<span class="content">
		<h3>Physical</h3><%=post.physical%>
	</span>
</div>

<div class = "users">
	<span class="content">
		<h3>Dental</h3><%=post.dental%>
	</span>
</div>

