<% provide(:title ,"Edit") %>
<h1> Update field </h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@post) do |f| %>
			<%= render 'shared/error_messages', object: f.object %> 

			<%=f.label :bmi %>
			<%=f.text_area :bmi %>

			<%=f.label :health %>
			<%=f.text_area :health %>

			<%=f.label :physical %>
			<%=f.text_area :physical %>

			<%=f.label :dental %>
			<%=f.text_area :dental %>

			<%=f.submit "Save Changes", class: "btn btn-large btn-primary" %>

		<% end %>
	</div>
</div>