<h2>Input event Attendance </h2>

<%=form_tag(attendances_path(@event), method:"post") do |f|%>

	<%@event.boothlist.each do |booth|%>
		<%booth = Booth.find(booth)%>
		<%id = booth.id.to_s%>
		<%=booth.name%> <%=text_field_tag "booth_ids["+id+"]"%><br>
		
	<%end%>

	<%=submit_tag ("Submit"), class: "btn btn-large btn-primary" %>
<%end%>

<!--
<h2>Import an Excel file</h2>
<p><%= form_tag attendances_path(@event),multipart: true do %>
	<%=file_field_tag :file%>
	<%= submit_tag "Import" %>
<%end%>
</p>
<br>
-->