<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
  <!-- static top bar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Clinic in the Park</a>
        </div>
      </div>
  </nav>

<!-- body container -->
    <%if signed_in? %>
    <div class="container-fluid">
        <!-- static sidebar  -->
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
              <%= render 'layouts/sidebar' %>
            </div>
          <!-- sign in -->
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <% flash.each do |key , value| %>
                  <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
              <%= yield %>
              <br>
              <div>
                <%= debug(params) if Rails.env.development? %>
              </div> 
          </div> <!--col-sm-9-->
        </div> <!--row-->
    </div> <!--container-fluid-->
    <%else%>
    <div class="container">
      <%= yield %>  
    </div>
    <%end%>

  <hr>

  <script type="text/javascript">
      $(document).ready(function(e){
      $(".sidebar li").click(function(){
        $(".sidebar li").removeClass("active");
        $(this).addClass("active");
        
     });
    });
  </script> 

  </body>
</html>